@import url('https://fonts.googleapis.com/css?family=Lobster+Two:700&display=swap');

ion-buttons {
    ion-button {
        color: #3880ff;
        text-transform: capitalize;
    }
}

.places-none {
    position: fixed;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Lobster Two', cursive;
    font-size: 1.8rem;
}