<ion-header>
  <ion-toolbar>
    <ion-title class="text-center">
      Mis Rutas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list id="actualesTitle">
    <ion-list-header class="tab1-list-header">
      Entregas Actuales
    </ion-list-header>
    <ion-row>
      <ion-col *ngFor="let entrega of misOficios; let i = index;" size="12" size-md="6" size-lg="4">
        <ion-card *ngIf="!(entrega.finalizado)" button="true" mode="ios">
          <ion-icon name="md-trash" (click)="removeList(i)"></ion-icon>
          <ion-img [src]="'../../assets/img/routes-card/road'+ entrega.numberFoto +'.jpg'" alt="Imagen Tarjeta"
            (click)="showDetails(i, true)">
          </ion-img>
          <ion-card-header>
            <ion-card-title>{{ entrega.nombreListado }} - {{ meses[entrega.fecha.split('-')[1]] }}</ion-card-title>
            <ion-card-subtitle>
              <ion-icon name="ios-calendar"></ion-icon>
              {{ fixDate(entrega.fecha.split('-')[0]) }}-{{ fixDate(entrega.fecha.split('-')[1], true) }}-{{ fixDate(entrega.fecha.split('-')[2]) }}
            </ion-card-subtitle>
            <ion-card-subtitle>
              <ion-icon *ngIf="entrega.personas.length > 1" name="md-people"></ion-icon>
              <ion-icon *ngIf="!(entrega.personas.length > 1)" name="md-person"></ion-icon>
              {{ entrega.cantPersonas }} persona<span *ngIf="entrega.cantPersonas > 1">s</span>
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="text-center">
            Oficios Entregados: {{ entrega.cantOficiosEntregados }} de {{ entrega.cantOficios }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-list>

  <ion-img id="separador" src="../../assets/img/separador.png" alt="Separador">
  </ion-img>

  <ion-list id="listado-de-finalizados">
    <ion-list-header class="tab1-list-header" id="entregadosTitle">
      Entregas Pasadas
    </ion-list-header>
    <ion-row>
      <ion-col class="listado-ion-col" *ngFor="let entrega of misOficios; let i = index;" size="12" size-md="6"
        size-lg="4">
        <ion-card *ngIf="(entrega.finalizado)" button="true" mode="ios">
          <div (click)="showDetails(i, false)">
            <ion-img id="finalizado-banner" src="../../assets/img/routes-card/finalizado.png" alt="Finalizado">
            </ion-img>
            <ion-img [src]="'../../assets/img/routes-card/road'+ entrega.numberFoto +'.jpg'" alt="Imagen Tarjeta">
            </ion-img>
          </div>
          <ion-card-header>
            <ion-card-title>{{ entrega.nombreListado }} - {{ meses[entrega.fecha.split('-')[1]] }}</ion-card-title>
            <ion-card-subtitle>
              <ion-icon name="ios-calendar"></ion-icon>
              {{ fixDate(entrega.fecha.split('-')[0]) }}-{{ fixDate(entrega.fecha.split('-')[1], true) }}-{{ fixDate(entrega.fecha.split('-')[2]) }}
            </ion-card-subtitle>
            <ion-card-subtitle>
              <ion-icon *ngIf="entrega.personas.length > 1" name="md-people"></ion-icon>
              <ion-icon *ngIf="!(entrega.personas.length > 1)" name="md-person"></ion-icon>
              {{ entrega.cantPersonas }} persona<span *ngIf="entrega.cantPersonas > 1">s</span>
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="text-center">
            Oficios Entregados: {{ entrega.cantOficiosEntregados }} de {{ entrega.cantOficios }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>