ion-buttons {
    ion-button {
        color: #3880ff;
        text-transform: capitalize;
    }
}

ion-fab {
    position: fixed !important;
    bottom: 25px;
    right: 25px;
}

ion-list-header {
    --color: #3880ff;
    font-size: 1.2rem;
}

.non-display {
    height: 0;
}